{% extends 'bootlog/head.html' %}
	
	
{% block body %}
	{%include toprow%}	


<div class="container">
        <div class="row clearfix">
                <div class="col-md-2 column">

                                {%block left_column %}
                        <!--            <div class="panel panel-default">
                                                <div class="panel-body">

                                                </div>
                                        </div> -->

               {#                         {%include left_sidebar %} #}
                                {%endblock left_column%}

                </div>
                <div class="col-md-9 column">
	{% for post in entries %}
	
{%comment %}	<h2>
		{{post.title}} 
		
	</h2>
{%endcomment %}
<br><br>
<hr>{% autoescape off %}
	<p>{{post.entry}}</p>
	{%endautoescape%}
{% endfor %}

                </div>
                <div class="col-md-3 column">

                        {%block right_column %}

{#                                {%include side_panel%} #}
                        {%endblock right_column%}
                </div>
</div>
<br>
	{%include footer_row %}


{%endblock body%}

