			<div class="panel-heading">
					<h4>
						<b>{{post.title}}</b>	
						<div class="pull-right">
							<a target="_blank" href="https://twitter.com/share?url=http://{{url_addr}}{{post.perma_link}}/" >
								<i class="fa fa-twitter" alt="t"></i>
							</a> 
							<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://{{url_addr}}{{post.perma_link}}/">
								<i class="fa fa-facebook"></i>
							</a>
							<a target="_blank" href="https://plus.google.com/share?url=http://{{url_addr}}{{post.perma_link}}/">
								<i  class="fa fa-google-plus" content="Creating Custom share buttons: Facebook, Twitter, Google+ "></i>
							</a>
							{# http://logicum.co/creating-custom-share-buttons-facebook-twitter-google/ #}
							
							<a target="_blank" href="http://www.reddit.com/submit?url=http://{{url_addr}}{{post.perma_link}}/" > 
								<img src="http://www.reddit.com/static/spreddit5.gif" alt="submit to reddit" border="0" /> 
							</a>
					</h4>  
				</div>

				<div class="panel-body"> <p>{{post.entry}}</p> </div>
				<div class="panel-footer">
				
					<button onclick="window.location.href='?category={{post.category}}'"
					  class="btn btn-default btn-link btn-sm" ALIGN="right">
						<span class="glyphicon glyphicon-tag"></span> 
						{{post.category}}
					</button>
					
					<a href="http://{{url_addr}}{{post.perma_link}}/" class="btn btn-default btn-link btn-xs"><span class="glyphicon glyphicon-link"></span> Permalink: {{url_addr}}{{post.perma_link}}</a>
					
					<div class="pull-right">
						<button class="btn btn-default btn-sm disabled">
							<span class="glyphicon glyphicon-time"></span> 
							{{post.pub_date}}
						</button>
					</div>
					
				</div>		
		
