{%block tri_stack%}
<div class="container">
	<div class="row clearfix">
	{%comment %}
		<div class="col-md-2 column">
			
				{%block left_column %}
			<!-- 		<div class="panel panel-default">
						<div class="panel-body"> 
			
						</div>
					</div> -->
		
					{%include left_sidebar %}
				{%endblock left_column%}
			
		</div>
		{%endcomment %}
		<div class="col-md-9 column">
			{%block center_column %} 
				abc
			{%endblock center_column%}
		</div>
		
		<div class="col-md-3 column">
		
			{%block right_column %}
				
				{%include side_panel%}
			{%endblock right_column%}
		</div>

	</div>
</div>
{%endblock tri_stack%}